nav {
  display: flex;
  background-color: #1a1a1a;
  padding: 10px;
  position: sticky;
  top: 0;
  overflow: hidden;
}

nav a {
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border-color 0.25s;
}

.logo {
  display: block;
}

/* Added */

nav a:nth-child(2) {
  margin-left: auto;
}

nav a:hover {
  cursor: pointer;
  border-color: #646cff;
}
